.container {
  min-height: 100vh;
  background-color: #ffffff;
  padding: 32px;
}

.title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 32px;
  color: #ff7b00;
  text-shadow: 1px 1px 1px #a15107;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  background-color: white;
  border-radius: 8px;
  border: 1px solid #bdbdbd;
  padding: 24px;
}

.cardTitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #000000;
}

.songListCard {
  background-color: white;
  border-radius: 8px;
  border: 1px solid #bdbdbd;
  padding: 24px;
}
