.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.field {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 4px;
}

.input {
  padding: 8px;
  border: 1px solid #bdbdbd;
  border-radius: 6px;
  font-size: 16px;
}


.select {
  width: 100%;
  padding: 8px;
  border: 1px solid #bdbdbd;
  border-radius: 6px;
  font-size: 16px;
}

.clearButton {
  background-color: #ff8800;
  color: #ffffff;
  padding: 8px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}